body{
    background-color: #f1f1f1;
}
.font-16{
    font-size: 18px;
}
.font-18{
    font-size: 18px;
}
.font-20{
    font-size: 20px;
}
.color-2b610a{
    color: #2b610a;
}
.float-right{
    float: right;
}
.border-bottom{
    border-bottom: 1px solid #eee;
}
.color-eee{
    color:#666;
}
.padding-top-10{
    padding-top: 10px;
}
.overview {
    display: flex;
}
.overview ul{
    list-style: none;
    padding-left: 0;
}
.overview .menu-left{
    width: 100px;
    height: 100%;
}
.overview .menu-left ul {
    border: 1px solid #ddd;
    min-height: calc(100vh - 100px);
    text-align: center;
    background-color: #fff;
    box-shadow: -1px 0px 5px 0px #AAAAAA;
    margin-bottom: 0px;
    margin-top:20px;
}
.overview .menu-left li{
    padding: 15px;
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: bold;
    color: #666;
}
.overview .menu-left li i.active, .overview .menu-left li .active{
    color: #337AB7 !important;
}
.overview .menu-left li:hover {
    background-color: #EDEDED;
    color: #fff;
}
.overview .menu-left i{
    margin-left: 5px;
    padding-bottom: 5px;
    font-size: 30px;
    color: #626E86;
}

.overview .menu-left .active i{
    margin-left: 5px;
    padding-bottom: 5px;
    font-size: 30px;
    color: #337AB7 !important;
}

.overview .menu-left li a{
    color: #333;
}

.overview .menu-left li.active {
    background-color: #bde7e8;
}

.overview .menu-left li.active a{
    color: #337AB7 !important;
}

.overview .menu-left li a:hover{
    text-decoration: none;
}
.overview .line-right{
    flex: 1;
    padding: 0 20px;
}
.overview .line-right>h2{
    margin-top: 0;
}
.overview .line-right .checkbox-group ul{
    display: flex;
    flex-wrap: wrap;
    margin: 30px 0;
}
.overview .line-right .checkbox-group ul li{
    margin-right: 30px;
    font-size: 16px;
    margin-bottom: 10px;
}
.overview .line-right .checkbox-group ul li i{
    margin-right: 6px;
    width: 15px;
}
.overview .line-right .line-show{
    display: flex;
}
.overview .line-right .line-show .line-part{
    flex: 1;
    padding: 20px;
}
.overview .line-right .line-show .summary-info{
    width: calc(40vw - 260px);
    margin-top: 50px;
}
.overview .line-right .line-show .summary-info .summary-detail,.overview .line-right .line-show .summary-info .summary-table{
    background-color: #fff;
    padding: 20px 20px 10px;
    margin-bottom: 20px;
    border: 1px solid #b2b2b2;
    border-radius: 5px;
}
.overview .line-right .line-show .summary-info .summary-detail h3,.overview .line-right .line-show .summary-info .summary-table h3{
    margin-top: 0;
    text-align: center;
}
.display-none{
    display: none;
}
.select-part{
    text-align: right;
}
.flex-initial.header{
}

.flex-initial.footer{
    margin-top: 10px;
}

.overviewGraphContainer {
    min-width: calc(60vw + 80px);
    max-height: calc(100vh - 280px);
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
    margin-top: 10px;
}

.overviewChart {
    background-color: #fff;
    height: 25vh;
    width: calc(30vw + 10px);
    margin: 5px;
    padding: 5px;
    border: 1px solid #b2b2b2;
    border-radius: 5px;
}